*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header{
  width:50vh;
  font-weight: bold;
}

#panelAdmin {
margin: 30px 5%;
}

ul {
  font-size: 20px;
  margin-left: 5vh;
}
h3 {
  text-decoration: underline;
}

.button {
  margin-top: 20px;
  margin-bottom: 20px;
}

th {
width: 10%;
}

#tableMachines, #tableCapsules{
margin: 30px 5%;
}

.imageMachine{
  width:50%;
}

.imageCapsule{
  width:50%
}
