*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
	font-family: 'Roboto',sans-serif;
	color: #000;
  font-size: 1rem;
}
/* Home */
#quienes-somos {
  margin: 30px 5%;
}
#quienes-somos h1{
  text-align: center;
  font-weight: bold;
  font-size: 3.5rem;
}
#quienes-somos .fundadores {
  /* border: black solid 4px; */
  margin: 6vh auto;
}
#quienes-somos .fundadores h2{
  margin-top: 3vh;
  text-align: center;
  font-size: 2rem;
}
#quienes-somos .fundador{
  display: flex;
  justify-content: space-around;
  margin: 4vh 5%;
}
#quienes-somos .fundadores img{
  width: 15%;
  height: 15%;
}
#quienes-somos .fundadores img:hover{
  width: 17%;
  height: 17%;
}
#quienes-somos .descripcion-empresa {
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  text-align: center;

}
#quienes-somos .descripcion-empresa .comienzo,
#quienes-somos .descripcion-empresa .recetas {
  width: 50%;
  /* padding: 0 5%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#quienes-somos .descripcion-empresa .comienzo h2,
#quienes-somos .descripcion-empresa .recetas h2 {
  margin-bottom: 2vh;
  font-size: 2rem;
}

#quienes-somos .descripcion-empresa .recetas p{
  align-self: center;

}
#quienes-somos .descripcion-nombre {
  margin-top: 5vh;
}
#quienes-somos .descripcion-nombre h2{
  font-size: 2rem;
}
#quienes-somos .descripcion-nombre h2,
#quienes-somos .descripcion-nombre p{
  text-align: center;
  margin-bottom: 2vh;
}
#quienes-somos .descripcion-nombre .juego-nombre .consigna{
  text-align: left;
}
#quienes-somos .descripcion-nombre .juego-nombre .opciones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4vh 0;
}
#quienes-somos .descripcion-nombre .juego-nombre .opciones .opcion-juego {
  border-radius: 100%;
  background-color: black;
  color: white;
  padding: 3% 3% 2% 3%;
  text-align: center;
  margin-bottom: 0;
}
#quienes-somos .descripcion-nombre .juego-nombre .opciones .opcion-juego:hover {
  background-color: #fa3c3c;
}

#quienes-somos .descripcion-nombre .juego-nombre .opciones .opcion-juego:last-child:hover {
  background-color: #d4e871;
}

/* Productos */
#productos {
  margin-top: 7vh;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}
#productos h1{
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
  text-transform: uppercase;
}
.maquinas-capsulas{
  display: flex;
  justify-content: space-around;
}
#productos .maquinas,
#productos .capsulas {
  width: 50%;
}
#productos .maquinas{
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
#productos .maquinas .imagen{
  background-color: white
}
#productos .maquinas .imagen img {
    width: 70%;
    margin: 0 auto;
    display: block;
}
#productos .maquinas h1,
#productos .capsulas h1 {
  padding-top: 2vh;
  text-align: center;
  font-size: 3rem;
}
#productos .maquinas h2 {
  font-size: 2rem;
}
#productos .maquinas h2 a {
  color:white;
  font-size: 2rem;
}
#productos .maquinas h2 a:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
#productos .capsulas{
  flex-direction: column;
  display: flex;
  padding-top: 3vh;
}

#productos .capsulas .productos-destacados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
#productos .capsulas .productos-destacados .producto  {
  width: 40%;
  text-align: center;
  margin: 7vh 5%;
}
#productos .capsulas .productos-destacados .producto:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#productos .capsulas .productos-destacados .producto .precio{
  font-size: 0.8rem;
}






@media (max-device-width:768px){
  #quienes-somos .descripcion-empresa {
    display: block;
  }
  #quienes-somos .descripcion-empresa .comienzo,
  #quienes-somos .descripcion-empresa .recetas {
    width: 100%;
  }
  #quienes-somos .descripcion-empresa .recetas p{
    margin-top: 1vh;
  }
  #quienes-somos {
    border-bottom: black 2px solid;
    padding-bottom: 10px;
  }
  #productos .maquinas-capsulas{
    display: block;
  }
  #productos .maquinas h1 {
    padding-top: 5vh;
  }
  #productos .maquinas .imagen {
    margin-bottom: 5vh;
  }
  #productos .maquinas {
    padding-bottom: 3vh;
  }
  #quienes-somos .descripcion-nombre .juego-nombre .opciones .opcion-juego {
    padding: 5vh 5%;
  }
  #contacto {
    margin: 0 5%;
  }
  #contacto h1 {
    text-align: center;
  }
}
@media (max-device-width:425px){

  #quienes-somos .descripcion-nombre .juego-nombre .opciones{
    display: block;
    padding: 1vh 1%;
    width: 50%;
    margin: 0 auto;
  }
  #quienes-somos .descripcion-nombre .juego-nombre .opciones .opcion-juego {
    margin-bottom: 2vh;
  }

  #productos h1 {
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-size: 3rem;
  }
}
