#app{
  height: 100vh;
}
body{
  font-family: 'Nunito', sans-serif;
}

.title{
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  margin-bottom: 5vh;
  text-align: center;
  background-color: rgb(0,0,0);
  color:white;
  padding: 5vh 0;

}
.buscador{
  margin: 2vh auto;
  text-align: center;
}
.productoNoEncontrado{
  text-align: center;
  font-size: 1.7rem;
  margin-top: 5vh;
}
.productsList{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5vh;
  margin: 0 10%;
}

.product{
  margin: 10px auto;
  width: 49%;
  padding: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.product .image{
  width: 25%;
}
.product .description{
  width: 70%;
}
.product .image img{
  width: 100%;
  padding: 20px;

}
.botones{
  display: flex;

}
.botones a{
  margin: 0 auto

}
.botones a:first-child{
  margin-right: 1%;
}
.btn-primary{
  background-color: black;
  border-color: black;
  font-size: 1rem;
}
.btn-primary:hover{
  background-color: #333;
  border-color: #333;
}
.pagination {
 margin-left: 17%;
}

.verTodos{
  margin: 5vh auto;
  width: 20%;
}
.verTodos a{
  width: 100%;
}



/* Styles productDetails */
.detail{
  display: none;
}
.productSlide{
  width: 70%;
  margin: 10vh auto;
  background-color: white;
  position: fixed;
  z-index: 1500;
  top: 5vh;
  left: 15%;
}

.productSlide i{
  color: #CCC;
  font-size: 20px;
  position: relative;
  left:95%;
  top: 5vh;
}
.productSlide i:hover{
  color: #999;
}
.productDetails{
  display: flex;
  padding: 40px;
  padding-top: 10vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 60vh;

}

.productDetails .pdImageProduct{
  width: 40%;
  margin-right: 10%;
}
.productDetails .pdImageProduct img{
  width: 100%;
  display: block;
}
.productDetails .pdTitle{
  display: flex;
}
.productDetails .pdTitle h5{
  text-transform: uppercase;
  margin-bottom: 7%;
  margin-right: 7%;
}
.productDetails .pdTitle .pdCapsule{
  width: 10%;
}
.productDetails .pdTitle .pdCapsule img{
  width: 100%;
}

.productDetails .pdImageProduct img{
  width: 100%;
}

.productDetails .pDdescription{
  display: flex;
  flex-direction: column;
}
.productDetails .pDdescription .quantity{
  margin-bottom: 10%;
}
.pDboton{
  align-self:flex-end;
}
@media (max-device-width:425px){
  .buscador input{
    border: solid 0.5px rgba(0,0,0,0.5)
  }
  .capsulesList{
    display: block;
    margin: 0 auto;
  }
  .product{
    width: 90%;
  }
  .verTodos{
    width: 50%;
  }
  .productDetails{
    display:block;
  }
  .machine-mobile{
    width: 50%;
    display: block;
    margin: 0 auto;
  }

}
