#app{
  height: 100vh;
}
body{
  font-style: 'Reboto', sans-serif;
}
.productsList{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 10%;
}
.product{
  margin: 10px auto;
  width: 40%;
  padding: 10px;
  display: flex;
  align-items: center;
}
.product .image{
  width: 30%;
}
.product .description{
  width: 70%;
}
.product .image img{
  width: 100%;
  padding: 20px;

}
.botones{
  display: flex;
}
.botones a{
  margin: 0 auto
}
.botones a:first-child{
  margin-right: 1%;
}

/* Styles productDetails */
.detail{
  display: none;
}
.productSlide{
  width: 70%;
  margin: 10vh auto;
  background-color: white;
  position: fixed;
  z-index: 1500;
  top: 5vh;
  left: 15%;
}

.productSlide i{
  color: #CCC;
  font-size: 20px;
  position: relative;
  left:95%;
  top: 5vh;
}
.productSlide i:hover{
  color: #999;
}
.productDetails{
  display: flex;
  padding: 40px;
  padding-top: 10vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 60vh;

}

.productDetails .pDImages{
  display: flex;
}
.productDetails .pDImages .changeImage{
  display:flex;
  flex-direction: column;
  width: 20%;
  padding: 5px;
}
.productDetails .pDImages .changeImage img{
  display: block;
  width: 100%;
  margin: 20px 0;
}
.productDetails .pDCarousel{
  width: 40%;
  margin-left: 10%;
  margin-right: 15%;
}
.productDetails .pDCarousel .capsuleCarousel{
  width: 30%;
  display: block;
}
.productDetails .pDdescription{
  display: flex;
  flex-direction: column;
}
.productDetails .pDdescription h5{
  text-transform: uppercase;
  margin-bottom: 7%;
}
.productDetails .pDdescription .quantity{
  margin-bottom: 10%;
}
.pDboton{
  align-self:flex-end;
}
